body{
    background-color: #A30000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main{
    width: 100%;
    max-width: 600px;
    border: 4px solid gold;
    border-radius: 10px;
    background-color: #740303;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.container3{
    background-color: white;
    padding: 10px;
    padding-left: 5%;
}


img[src="/static/Icons/admin.png"]{
    margin-top: 30px;
    margin-left: 42%;
}

img{
    width: 100px;
    height: auto;    
    border-radius: 50%;
}


h3.find{
    color: white;
    font-size: 150%;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    line-height: 1.2;
}

.forgot_search{
    font-size: larger;
    color: black;
    margin-bottom: 10px;
}

input{
    font-size: larger;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    width: 95%;
}

input::placeholder{
    padding-left: 1%;
    font-size: medium;
}


.clicker_cancel{
    padding: 10px;
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

.clicker_cancel{
    padding: 10px;
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

button.cancel_1{
    background-color: #234769;
    border-radius: 10px;
    width: 20%;
    max-width: 550px;
    font-size: larger;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid grey;
    margin-right: 10px;
}

button.cancel_1:hover{
    background-color: #1b3650;
}

button.cancel_2{
    background-color: #A30000;
    border-radius: 10px;
    width: 20%;
    max-width: 550px;
    font-size: larger;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #A30000;
}

button.cancel_2:hover{
    background-color: #700202;
}