body{
    background-color: #A30000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main{
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    background-color: gold;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

img{
    width: 100px;
    height: auto;    
    border-radius: 50%;
}

h3{
    color: #A30000;
}

h3.pass{
    margin-bottom: 1%;
}

h3.find{
    color: black;
    font-size: 150%;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    line-height: 1.2;
}

p.find{
    text-align: center;
    color: black;
    margin-top: 2px;
}

.container3{
    background-color: white;
    padding: 10px;
    padding-left: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.password-container{
  position: relative;
  width: 100%;
}

.password-container input{
  width: 100%;
  padding: 10px;
  padding-right: 45px;
  font-size: larger;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
}

.password-container img{
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.password-container img:hover{
  opacity: 1;
}

input::placeholder{
    padding-left: 1%;
    font-size: medium;
}

.back_to_login{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    font-size: larger;
    color: rgb(65, 62, 62);
    margin-bottom: -5px;
    margin-top: -8px;
}

.back_to_login a{
    color: blue;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}

.back_to_login a:hover{
    text-decoration: underline;
}

.clicker_reset{
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

button.cancel_3{
    background-color: #740303;
    border-radius: 10px;
    width: 100%;
    max-width: 550px;
    font-size: larger;
    color: gold;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #740303;
}

.cancel_3:hover{
    background-color: #640707;
}