body{
    background-color: #A30000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

h3{
    color: #A30000;
}

h3.cacar{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.name-container h3{
    margin-bottom: 1%;
}

.employee-id-number h3{
    margin-bottom: 1%;
}

.admin_user h3{
    margin-bottom: 1%;
}

.email h3{
    margin-bottom: 1%;
}

.contact-num h3{
    margin-bottom: 1%;
}

.department-user h3{
    margin-bottom: 1%;
}

.role h3{
    margin-bottom: 1%;
}

h3.pass{
    margin-bottom: 1%;
}

select{
    color: gray;
    font-size: larger;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    width: 95%;
}

select:valid{
    color: black;
}

.department-user select{
    width: 100%;

}

.role select{
    width: 100%;
}

option{
    color: black;
}

input{
    font-size: larger;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background: white;
    width: 95%;
}

input:focus{
    outline: none;
}

input::placeholder{
    padding-left: 1%;
    font-size: medium;
}

.container2{
    background-color: white;
    padding: 10px;
    padding-left: 5%;
}

.main2{
    width: 100%;
    max-width: 600px;
    height: 82vh;
    border: 4px solid gold;
    border-radius: 10px;
    background-color: #740303;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.main2::-webkit-scrollbar{
    width: 10px;
}

.main2::-webkit-scrollbar-track{
    background: #5e0202;
    border-radius: 10px;
}

.main2::-webkit-scrollbar-thumb{
    background-color: gold;
    border-radius: 10px;
    border: 2px solid #5e0202;
}

.main2::-webkit-scrollbar-thumb:hover{
    background-color: #d4af37;
}

.clicker{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

button.signin{
    background-color: gold;
    border-radius: 10px;
    width: 100%;
    max-width: 550px;
    font-size: larger;
    color: #A30000;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid gold;
}

button.signin:hover{
    background-color: rgb(184, 157, 5);
}

.password-container{
    position: relative;
    width: 100%;
}

.password-container input{
    width: 100%;
    padding: 10px;
    padding-right: 45px;
    font-size: larger;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-container img{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.password-container img:hover{
    opacity: 1;
}

.already{
    padding-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.already a{
    color: blue;
    text-decoration: none;
    font-weight: 500;
}

.already a:hover{
    text-decoration: underline;
}

hr{
    width: 95%;
    margin-bottom: 0%;
}

input.error{
    border: 2px solid red !important;
    background-color: #fff5f5;
    transition: border 0.3s ease;
}
