body{
    background-color: white;
    margin: 0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    display: flex;
}

.nav{
    background-color: #7E0003;
    display: flex;
    gap: 10px; 
}

.title{
    color: white;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 40px;
}

.discription{
    color: gold;
    margin-left: 10px;
    font-weight: bold;
    line-height: 2%;
}

img{
    width: 5%;
    height: 5%;
    margin-left: 80px;
    margin-top: 15px;   
    margin-bottom: 20px;
}

.main2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.listing{
    box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.637);
    border-radius: 10px;
    width: 60%;
}

.reciept{
    border: 2px solid gold;
    border-radius: 10px;
    width: 20%;
    position: absolute;
    top: 25%;
    right: 30%;
    background-color: #FFF7CC;
}

.reciept > h4{
    color: #7E0003;
    margin-left: 10px;
    font-size: 140%;
}

.notice2{
    background-color: #FFF7CC;
    width: 32%;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5%;
    border-left: 5px solid gold;
    margin-bottom: 6%;
}

.notice2 > p{
    margin-left: 10px;
}

li{
    list-style: decimal;
    margin-left: 8%;
}

.follow_tips{
    width: 25%;
    border-radius: 10px;
    position: absolute;
    top: 68%;
    left: 48%;
}

.reciept > p{
    color: grey;
    margin-left: 10px;
    margin-bottom: -28px;
}

h3{
    color: #7E0003;
    margin-left: 20px;
}

.paypay {
    border: 2px solid gold;
    width: 350px;
    margin-left: 5%;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 30px;
}

.paypay img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-left: -3px;
}

.paypay p{
    color: grey;
    text-align: center;
}

