*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f2f2f2;
    padding:20px;
    background-color:#A30000;
}

.container{
    max-width:700px;
    margin:40px auto;
    background:#ffffff;
    padding:30px 35px;
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

h1{
    text-align:center;
    color:#8b0000;
    margin-bottom:10px;
}

p{
    margin:10px 0;
    line-height:1.6;
    font-size:15px;
}

h2{
    color:#8b0000;
    margin-top:20px;
    margin-bottom:8px;
}

ul{
    margin-left:20px;
    margin-top:5px;
}

li{
    margin:6px 0;
}

.back-btn{
    display:inline-block;
    margin-top:25px;
    padding:10px 18px;
    background:#8b0000;
    color:white;
    border-radius:6px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s ease-in-out;
}

.back-btn:hover{
    background:#a30000;
}
