body{
    background-color: white;
    margin: 0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav{
    background-color: #7E0003;
    display: flex;
    gap: 10px; 
}

main{
    display: flex;
}

img{
    width: 5%;
    height: 5%;
    margin-left: 80px;
    margin-top: 15px;   
    margin-bottom: 20px;
}

.title{
    color: white;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 40px;
}

.discription{
    color: gold;
    margin-left: 10px;
    font-weight: bold;
    line-height: 2%;
}

img[src="/static/Icons/logout.png"]{
    width: 50px;
    height: 50px;
}

img[src="/static/Icons/logout.png"]:hover{
    filter: brightness(1.3);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.user{
    display: flex;
    gap: 30px;
}

.welcome{
    color: white;
    position: absolute;
    top: 30px;
    left: -150px;
}

.right{
    position: absolute;
    top: 10px;
    left: 90%;
}

.right > a{
    position: absolute;
    top: 18px;
    left: -100px;
    cursor: pointer;
}