body{
    background-color: #A30000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main{
    border: 4px solid gold;
    max-width: 100%;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    height: 82%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.container2{
    text-align: center;
}

.tt1{
    color: #A30000;
    font-size: 300%;
}

.tt2{
    color: gold;
    margin-top: -3%;
    font-size: 250%;
    margin-bottom: 35px;
}

img{
    margin-top: 20px;
    margin-bottom: -30px;
    width: 5%;
}

.p1{
    color: rgb(71, 71, 189);
    margin-top: -2%;
    font-size: larger;
    line-height: 1.5;
    text-align: center;
}

.p2{
    margin-top: 40px;
    color: #A30000;
    font-size: 20px;
}

.container3{
    margin-top: 50px;
    text-align: center;
}

button{
    cursor: pointer;
    font-size: larger;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 15px;
    width: 11%;
    font-weight: bold;
    margin: 0 5px;
}

.b1{
    width: 40%;
    color: #A30000;
    background-color: gold;
    transition: all 0.3s ease;
}

.b1:hover{
    background-color: rgb(184, 157, 5);
    transform: scale(1.1);
}

.b2{
    width: 20%;
    color: #A30000;
    background-color: gold;
    transition: all 0.3s ease;
}

.b2:hover{
    background-color: rgb(184, 157, 5);
    transform: scale(1.1);
}

.b3{
    width: 20%;
    color: gold;
    background-color: #A30000;
    margin-left: 50px;
    transition: all 0.3s ease;
}

.b3:hover{
    background-color: #700202;
    transform: scale(1.1);
}

.container4{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 220px;
    text-align: center;
    margin-right: 85px;
}

.container4 img{
    width: 60px;
    height: auto;
}

.qr{
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.qr:hover{
    transform: scale(1.1);
    border: 2px solid gold;
    padding: 10px;
    border-radius: 20px;
}

.p9{
    color: #A30000;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
}

.p4{
    color: rgb(112, 106, 106);
    font-size: 15px;
    margin-top: -5%;
}

.status{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.status:hover{
    transform: scale(1.1);
    border: 2px solid gold;
    padding: 10px;
    border-radius: 20px;
}

img[src="/static/Icons/payment.png"]{
    background-color: #A30000;
    border-radius: 95px;
    border: 5px solid #A30000;
}

img[src="/static/Icons/digital.png"]{
    background-color: #A30000;
    border-radius: 95px;
    border: 5px solid #A30000;
}

img[src="/static/Icons/status.png"]{
    background-color: #A30000;
    border-radius: 95px;
    border: 5px solid #A30000;   
}

.p5{
    color: #A30000;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
}
.p6{
    color: rgb(112, 106, 106);
    font-size: 15px;
    margin-top: -5%;
}

.digital{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.digital:hover{
    transform: scale(1.1);
    border: 2px solid gold;
    padding: 10px;
    border-radius: 20px;
}

.p7{
    color: #A30000;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
}

.p8{
    color: rgb(112, 106, 106);
    font-size: 15px;
    margin-top: -5%;
}