<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin_portal.css">
    <link rel="shortcut icon" href="/static/Icons/admin.png" type="image/x-icon">
    <title>Admin Portal</title>
</head>
<body>
    
    <div class="main">
        <div class="container2">
            <img src="/static/Icons/main_logo.jpg" alt="logo_evsu">
            <h1 class="tt1">Admin Portal</h1>
            <h1 class="tt2">Management & Verification System</h1>
            <p class="p1">Manage parking sticker applications, verify payments, generate QR codes, <br>and oversee system operations</p>
            <p class="p2">Eastern Visayas State University – Ormoc Campus</p>
        </div>
        <div class="container3">
            <button class="b2" onclick="admin_login()">Admin Login</button>
            <button class="b3" onclick="admin_register()">Register Admin</button>
        </div>
        <div class="container4">
            <div class="qr">
                <img src="/static/Icons/digital.png" alt="logo">
                <p class="p9">Application Management</p>
                <p class="p4">Review and approve sticker applications</p>
            </div>
            <div class="status">
                <img src="/static/Icons/Payment _Verification.png" alt="logo">
                <p class="p5">Payment Verification</p>
                <p class="p6">Verify GCash payment proofs</p>
            </div>
            <div class="digital">
                <img src="/static/Icons/qr_logo.png" alt="logo">
                <p class="p7">QR Code Generation</p>
                <p class="p8">Generate and print parking stickers</p>
            </div>
        </div>
    </div>

    <script src="/static/javascript/nextpage.js"></script>

</body>
</html>