<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/icons/car.png" type="image/x-icon">
    <title>EVSU Vehicle GatePass System</title>
</head>
<body>

    <div class="main">
        <div class="container1">
            <div class="pic">
                <img src="/static/icons/car.png" alt="logo">
            </div>
                <h3 class="cacar">EVSU Vehicle GatePass System</h3>
            <div class="container2">
                <form action="/submit" method="post">
                    <h3 class="email">Email Address</h3>
                    <p><input type="text" name="nm" placeholder="your.email@evsu.edu.ph"></p>
                    <h3 class="pass">Password</h3>
                    <div class="password-container">
                        <input type="password" id="pwd" name="pwd" placeholder="Enter Password">
                        <img src="/static/icons/closePass.png" id="togglePassword" alt="Show Password">
                    </div>
                </form>
                <div class="checker">
                    <label>
                        <input type="checkbox" name="remember" id="savepass">
                        <span>Remember me</span>
                    </label>
                    <a href="">Forget password?</a>
                </div>
                <div class="clicker">
                    <button class="signin" type="button">Sign In</button>
                </div>
                <div class="register">
                    <p>Don't have an account?</p>
                    <a href="/register">Register here</a>
                </div>
            </div> 
        </div>
    </div>

    <script src="/static/javascript/showpass.js"></script>
    
</body>
</html>
