<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/Icons/car.png" type="image/x-icon">
    <title>EVSU Parking Sticker Management and Verification System</title>
</head>
<body>
    
    <div class="main">
        <div class="container2">
            <img src="/static/Icons/main_logo.jpg" alt="logo_evsu">
            <h1 class="tt1">EVSU PARKING STICKER MANAGEMENT</h1>
            <h1 class="tt2">AND VERIFICATION SYSTEM</h1>
            <p class="p1">Modernizing Campus Vehicle Management Through QR Code <br>Verification</p>
            <p class="p2">Eastern Visayas State University – Ormoc Campus</p>
        </div>
        <div class="container3">
            <button class="b1" type="button">User Portal</button>
            <button class="b2" type="button">Admin Portal</button>
            <p class="p3">Choose your portal to access the parking sticker system</p>
        </div>
        <div class="container4">
            <div class="qr">
                <img src="/static/Icons/qr_logo.png" alt="logo">
                <p class="p9">QR Code System</p>
                <p class="p4">Instant verification with QR code scanning</p>
            </div>
            <div class="gcash">
                <img src="/static/Icons/payment.png" alt="logo">
                <p class="p5">GCASH Payment</p>
                <p class="p6">Convenient online payment integration</p>
            </div>
            <div class="digital">
                <img src="/static/Icons/digital.png" alt="logo">
                <p class="p7">Digital Records</p>
                <p class="p8">Paperless and efficient record management</p>
            </div>
        </div>
    </div>


</body>
</html>