<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/Icons/car.png" type="image/x-icon">
    <title>User Portal</title>
</head>
<body>
    
    <div class="main">
        <div class="container2">
            <img src="/static/Icons/main_logo.jpg" alt="logo_evsu">
            <h1 class="tt1">User Portal</h1>
            <h1 class="tt2">Parking Sticker Application</h1>
            <p class="p1">Apply for your parking sticker, track your application status, and manage <br>your vehicle permits</p>
            <p class="p2">Eastern Visayas State University – Ormoc Campus</p>
        </div>
        <div class="container3">
            <button class="b2" type="button" onclick="page_user_login()">Login</button>
            <button class="b3" type="button" onclick="page_register()">Register</button>
        </div>
        <div class="container4">
            <div class="qr">
                <img src="/static/Icons/digital.png" alt="logo">
                <p class="p9">Easy Application</p>
                <p class="p4">Submit your parking sticker application online</p>
            </div>
            <div class="status">
                <img src="/static/Icons/status.png" alt="logo">
                <p class="p5">Track Status</p>
                <p class="p6">Monitor your application in real-time</p>
            </div>
            <div class="digital">
                <img src="/static/Icons/payment.png" alt="logo">
                <p class="p7">Gcash Payment</p>
                <p class="p8">Convenient online payment option</p>
            </div>
        </div>
    </div>

    <script src="/static/javascript/nextpage.js"></script>

</body>
</html>