<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/Icons/dashboard.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/user_dashboard.css">
    <title>EVSU Parking Sticker Management and Verification System</title>
</head>
<body>
    
    <div class="main">
        <div class="nav">
            <img src="/static/Icons/clearEVSU_logo.jpg" alt="main_logo">
            <div class="text_group">
                <p class="title">EVSU Parking System</p>
                <p class="discription">User Dashboard</p>
                
                <div class="right">
                    <p class="welcome">Welcome, Dave</p>
                    <a href=""><img src="/static/Icons/logout.png"></a>
                </div>

            </div>
        </div>
    </div>



</body>
</html>